<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart sayings</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <div class="v-toolbar__content" style="height: 70px;">
        <img id="logo" src="../static/img/logo.png" alt="logo JGU">
        <h2 class="title">Heart sayings</h2>
        <div class="v-spacer"></div>
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/project">Project</a>
            <a href="/help">Help</a>
        </div>
    </div>
    <div>
        <hr id="red-line">
    </div>
    <div class="content">
        <h1>Ho to use service</h1>
        <p>You can use our service in two easy ways: </p>
        <p><b>1. Find idioms filtered by language.</b><br>
            To do this, use the LANGUAGE drop-down menu and select the desired language.</p>
        <p><b>2. Find idioms by word, group of words or whole expression.</b><br>
            To do this, use the SEARCH field and enter the search terms you are interested in.</p>
        <p>(Note: the search will be performed on all idioms from the database, regardless of language, so the language 
            filter in this case may not be selected).</p><br>
        <p><b>Thank you for using this service!</b></p>
    </div>
</body>
</html>