<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart sayings</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    
    <div class="v-toolbar__content" style="height: 70px;">
        <img id="logo" src="../static/img/logo.png" alt="logo JGU">
        <h2 class="title">Heart sayings</h2>
        <div class="v-spacer"></div>
        <div class="navigation">
            <a href="/heart-sayings">Home</a>
            <a href="/heart-sayings/project">Project</a>
            <a href="/heart-sayings/help">Help</a>
        </div>
    </div>
    <div>
        <hr id="red-line">
    </div>
    <div class="content">
        <p><h1>Heart Sayings project</h1>
        <p>
            The heart is not only one of the most important organs of the human body, 
            but it is also a concept that is widely used in figurative language 
            to describe personalities and situations, feelings and relationships between people.
        </p><br>
        <p>This project is designed to show the user a variety of idioms and expressions related 
            to the word HEART in different languages ​​of the world with English translation.
            (currently available are English, German, Swedish and Ukrainian).
        </p><br>
        <p>
            Discover a variety of sayings with the word heart, 
            as well as their similar and sometimes different meanings in different languages.</p>
        </p><br>
        <p>
        Thank you for using our service! We hope you found something new and interesting 
        and enriched your knowledge with new idioms and expressions!
        </p><br>
    </div>
</body>
</html>